/* Preformatted */
@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono.eot');
    src: url('fonts/DejaVuSansMono.eot') format('embedded-opentype'),
         url('fonts/DejaVuSansMono.woff2') format('woff2'),
         url('fonts/DejaVuSansMono.woff') format('woff'),
         url('fonts/DejaVuSansMono.ttf') format('truetype'),
         url('fonts/DejaVuSansMono.svg#DejaVuSansMono') format('svg');
}
/* Kaitlyn */
@font-face {
    font-family: 'JMS';
    src: url('fonts/JMS.eot');
    src: url('fonts/JMS.eot') format('embedded-opentype'),
         url('fonts/JMS.woff2') format('woff2'),
         url('fonts/JMS.woff') format('woff'),
         url('fonts/JMS.ttf') format('truetype'),
         url('fonts/JMS.svg#JMS') format('svg');
}
/* Britney */
@font-face {
    font-family: 'AMS';
    src: url('fonts/AMS.eot');
    src: url('fonts/AMS.eot') format('embedded-opentype'),
         url('fonts/AMS.woff2') format('woff2'),
         url('fonts/AMS.woff') format('woff'),
         url('fonts/AMS.ttf') format('truetype'),
         url('fonts/AMS.svg#AMS') format('svg');
}
/* Jenny */
@font-face {
    font-family: 'NATS';
    src: url('fonts/NATS.eot');
    src: url('fonts/NATS.eot') format('embedded-opentype'),
         url('fonts/NATS.woff2') format('woff2'),
         url('fonts/NATS.woff') format('woff'),
         url('fonts/NATS.ttf') format('truetype'),
         url('fonts/NATS.svg#NATS') format('svg');
}
/* Igor */
@font-face {
    font-family: 'ID';
    src: url('fonts/ID.eot');
    src: url('fonts/ID.eot') format('embedded-opentype'),
         url('fonts/ID.woff2') format('woff2'),
         url('fonts/ID.woff') format('woff'),
         url('fonts/ID.ttf') format('truetype'),
         url('fonts/ID.svg#ID') format('svg');
}

#windowport {
  color: #AA11DD;
}

.WindowFrame {
  background: #FFFFFF;
}

.BufferWindow {
  font-family: JMS;
  font-size: 14px;
}

.GridWindow {
  background: #FFFFFF;
  color: #888888;
}

.MorePrompt {
  background: #AA11DD;
  color: #FFFFFF;
}

.Input {
  font-weight: 900;
  color: #AA11DD;
}

.BufferWindow .Input {
  font-family: JMS;
}

.Style_preformatted {
  font-family: DejaVuSansMono;
  font-size: 12px;
  color: black;
}

.Style_header {
  font-weight: 900;
  color: #1111FF;
}

.BufferWindow .Style_header {
  font-size: 20px;
}

.Style_subheader {
  font-size: 16px;
  color: #FF66AA;
}

.Style_input {
  font-weight: 900;
  color: #AA11DD;
}

/* Britney */
.Style_blockquote {
  font-family: AMS;
  font-size: 20px;
  color: green;
  background: white;
}

/* Hacker */
.Style_user2 {
  font-family: NATS;
  font-size: 20px;
  color: black;
}

/* Igor */
.Style_note {
  font-family: ID;
  font-style: normal;
  font-size: 16px;
  color: gray;
}

/* blue */
.Style_user1 {
  font-weight: bold;
  color: #1111FF;
}

/* red */
.Style_alert {
  font-weight: bold;
  color: #FF0000;
}
